# Fire up GraphLab Create

In [1]:
import graphlab

In [3]:
#graphlab.product_key.set_product_key('F14D-D67E-0777-1B04-8323-2012-CB98-6E93')
#graphlab.product_key.get_product_key()
#graphlab.get_dependencies()

# Load a tabular dataset

In [4]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file e:\Development\ml_uW\people-example.csv
Parsing completed. Parsed 7 lines in 0.022003 secs.
------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
Finished parsing file e:\Development\ml_uW\people-example.csv
Parsing completed. Parsed 7 lines in 0.023403 secs.

# SFrame Basics

In [7]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [9]:
# Take any data structure in graphlab create

sf.show()

Canvas is accessible via web browser at the URL: http://localhost:64426/index.html
Opening Canvas in default web browser.

In [30]:
graphlab.canvas.set_target('ipynb')

In [17]:
sf['age']
#sf['age'].show(view='Categorical')

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

# Inspect columns of dataset

In [18]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [19]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [20]:
sf['age'].mean()

23.142857142857146

In [21]:
sf['age'].max()

25L

# Create new columns in our SFrame

In [23]:
sf['FullName'] = sf['First Name'] + ' ' + sf['Last Name']

In [24]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	FullName	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |    FullName    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [25]:
sf['age'] + 2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

In [27]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]

# Use apply function to do advance transformation of our data

In [28]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [32]:
#sf['Country'].show()

In [33]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [34]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [36]:
sf['Country'] = sf['Country'].apply(transform_country)